In [1]:
import pandas as pd
import numpy as np
import os

In [9]:
data_dict = {}

In [18]:
items = pd.read_csv("Data_subir/items.csv",parse_dates=['shipping_limit_date'])
metodo_de_pago = pd.read_csv("Data_subir/payment_corregido.csv")
reviews =  pd.read_csv("Data_subir/review.csv", parse_dates=['review_creation_date', 'review_answer_timestamp'])
ordenes = pd.read_csv("Data_subir/ordenes_etl.csv",parse_dates=['order_purchase_timestamp', 'order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date'])

In [5]:
path_delta= "Dataset_delta"
os.makedirs(path_delta, exist_ok=True)

In [19]:
ordenes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99275 entries, 0 to 99274
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99275 non-null  object
 1   customer_id                    99275 non-null  object
 2   order_status_id                99275 non-null  int64
 3   order_purchase_timestamp       99275 non-null  datetime64[ns]
 4   order_approved_at              99115 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97492 non-null  datetime64[ns]
 6   order_delivered_customer_date  96311 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99275 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(1), object(2)
memory usage: 6.1+ MB

In [20]:
ordenes = ordenes.dropna()
ordenes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96296 entries, 0 to 99274
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96296 non-null  object
 1   customer_id                    96296 non-null  object
 2   order_status_id                96296 non-null  int64
 3   order_purchase_timestamp       96296 non-null  datetime64[ns]
 4   order_approved_at              96296 non-null  datetime64[ns]
 5   order_delivered_carrier_date   96296 non-null  datetime64[ns]
 6   order_delivered_customer_date  96296 non-null  datetime64[ns]
 7   order_estimated_delivery_date  96296 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(1), object(2)
memory usage: 6.6+ MB

In [21]:
ordenes.head(5)

,order_id,customer_id,order_status_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,1,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,1,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,1,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,1,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,1,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [51]:
 ordenes_delta= ordenes[(ordenes['order_purchase_timestamp'] > '2018-07-01- 00:00:00') & (ordenes['order_purchase_timestamp'] < '2018-08-01- 00:00:00') ]

In [52]:
ordenes_delta.head()

,order_id,customer_id,order_status_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,1,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
13,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,1,2018-07-25 17:44:10,2018-07-25 17:55:14,2018-07-26 13:16:00,2018-07-30 15:52:25,2018-08-08
34,b276e4f8c0fb86bd82fce576f21713e0,cf8ffeddf027932e51e4eae73b384059,1,2018-07-29 23:34:51,2018-07-29 23:45:15,2018-07-30 14:43:00,2018-07-31 22:48:50,2018-08-06
48,5820a1100976432c7968a52da59e9364,2b56e94c2f66f2d97cfa63356f69cee8,1,2018-07-29 11:24:17,2018-07-29 11:44:19,2018-07-30 13:47:00,2018-08-02 22:09:11,2018-08-13
52,9faeb9b2746b9d7526aef5acb08e2aa0,79183cd650e2bb0d475b0067d45946ac,1,2018-07-26 14:39:59,2018-07-26 14:55:10,2018-07-27 12:04:00,2018-07-31 22:26:55,2018-08-16

In [53]:
ordenes_delta['order_id_aux'] = ordenes_delta['order_id'] + 'a'

C:\Users\pablo\AppData\Local\Temp\ipykernel_8344\3210124582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordenes_delta['order_id_aux'] = ordenes_delta['order_id'] + 'a'

In [54]:
ordenes_delta.head()

,order_id,customer_id,order_status_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_id_aux
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,1,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,53cdb2fc8bc7dce0b6741e2150273451a
13,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,1,2018-07-25 17:44:10,2018-07-25 17:55:14,2018-07-26 13:16:00,2018-07-30 15:52:25,2018-08-08,5ff96c15d0b717ac6ad1f3d77225a350a
34,b276e4f8c0fb86bd82fce576f21713e0,cf8ffeddf027932e51e4eae73b384059,1,2018-07-29 23:34:51,2018-07-29 23:45:15,2018-07-30 14:43:00,2018-07-31 22:48:50,2018-08-06,b276e4f8c0fb86bd82fce576f21713e0a
48,5820a1100976432c7968a52da59e9364,2b56e94c2f66f2d97cfa63356f69cee8,1,2018-07-29 11:24:17,2018-07-29 11:44:19,2018-07-30 13:47:00,2018-08-02 22:09:11,2018-08-13,5820a1100976432c7968a52da59e9364a
52,9faeb9b2746b9d7526aef5acb08e2aa0,79183cd650e2bb0d475b0067d45946ac,1,2018-07-26 14:39:59,2018-07-26 14:55:10,2018-07-27 12:04:00,2018-07-31 22:26:55,2018-08-16,9faeb9b2746b9d7526aef5acb08e2aa0a

In [40]:
from datetime import timedelta

In [ ]:
ordenes_delta['order_purchase_timestamp'] = ordenes_delta['order_purchase_timestamp'] + timedelta(days= 31)
ordenes_delta['order_approved_at'] = ordenes_delta['order_approved_at'] + timedelta(days= 31)
ordenes_delta['order_delivered_carrier_date'] = ordenes_delta['order_delivered_carrier_date'] + timedelta(days= 31)
ordenes_delta['order_delivered_customer_date'] = ordenes_delta['order_delivered_customer_date'] + timedelta(days= 31)
ordenes_delta['order_estimated_delivery_date'] = ordenes_delta['order_estimated_delivery_date'] + timedelta(days= 31)

In [56]:
ordenes_delta.head()

,order_id,customer_id,order_status_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_id_aux
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,1,2018-08-24 20:41:37,2018-08-26 03:24:27,2018-08-26 14:31:00,2018-09-07 15:27:45,2018-09-13,53cdb2fc8bc7dce0b6741e2150273451a
13,5ff96c15d0b717ac6ad1f3d77225a350,19402a48fe860416adf93348aba37740,1,2018-08-25 17:44:10,2018-08-25 17:55:14,2018-08-26 13:16:00,2018-08-30 15:52:25,2018-09-08,5ff96c15d0b717ac6ad1f3d77225a350a
34,b276e4f8c0fb86bd82fce576f21713e0,cf8ffeddf027932e51e4eae73b384059,1,2018-08-29 23:34:51,2018-08-29 23:45:15,2018-08-30 14:43:00,2018-08-31 22:48:50,2018-09-06,b276e4f8c0fb86bd82fce576f21713e0a
48,5820a1100976432c7968a52da59e9364,2b56e94c2f66f2d97cfa63356f69cee8,1,2018-08-29 11:24:17,2018-08-29 11:44:19,2018-08-30 13:47:00,2018-09-02 22:09:11,2018-09-13,5820a1100976432c7968a52da59e9364a
52,9faeb9b2746b9d7526aef5acb08e2aa0,79183cd650e2bb0d475b0067d45946ac,1,2018-08-26 14:39:59,2018-08-26 14:55:10,2018-08-27 12:04:00,2018-08-31 22:26:55,2018-09-16,9faeb9b2746b9d7526aef5acb08e2aa0a

In [58]:
a= ordenes_delta.order_id.unique()

In [64]:
type (a)

numpy.ndarray

In [67]:
b= a.tolist()

In [69]:
items_delta = items[items['order_id'].isin(b)]

In [70]:
items_delta

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40
11,00063b381e2406b52ad429470734ebd5,1,f177554ea93259a5b282f24e33f65ab6,8602a61d680a10a82cceeeda0d99ea3d,2018-07-31 17:30:39,45.00,12.98
12,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-07-26 17:24:20,74.00,23.32
45,001ac194d4a326a6fa99b581e9a3d963,1,dbaee28f4ee64465838a229582d77520,ffc470761de7d0232558ba5e786e57b7,2018-07-10 02:51:10,54.00,8.54
...,...,...,...,...,...,...,...
112598,ffe311829861d844ad8de0f4d4923692,1,80d2404aa74015aa6cd21863642295f7,adbc26658d6c7b4b6219f9d934598091,2018-07-25 11:03:35,109.90,36.00
112613,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.90,51.20
112628,fff3983dfa3c5a0d752d8d17baa406a0,1,092be1e8336fc404c57bd5970d056886,cbd996ad3c1b7dc71fd0e5f5df9087e2,2018-07-16 22:05:13,66.39,14.05
112633,fff8286f77788ab8b55b2e5747fa7dd8,1,a2da86fa759178e9e58e54aa1a144e59,ea8482cd71df3c1969d7b9473ff13abc,2018-07-05 22:31:13,24.99,15.28
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53

In [ ]:
items_delta['order_id_aux'] = items_delta['order_id'] + 'a'

In [ ]:
items_delta['shipping_limit_date'] = items_delta['shipping_limit_date'] + timedelta(days= 31)

In [73]:
metodo_de_pago_delta= metodo_de_pago[metodo_de_pago['order_id'].isin(b)]

In [75]:
len(b)

6119

In [76]:
metodo_de_pago_delta['order_id_aux'] = metodo_de_pago_delta['order_id']+ 'a'

C:\Users\pablo\AppData\Local\Temp\ipykernel_8344\81340964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metodo_de_pago_delta['order_id_aux'] = metodo_de_pago_delta['order_id']+ 'a'

In [78]:
metodo_de_pago_delta

,order_id,payment_sequential,payment_type_id,payment_installments,payment_value,order_id_aux
8,1f78449c87a54faf9e96e88ba1491fa9,1,1,6,341.09,1f78449c87a54faf9e96e88ba1491fa9a
31,81cedc4d2132eb6f512354166e51b187,1,1,1,30.28,81cedc4d2132eb6f512354166e51b187a
42,32b1d8f3789a57f1f752e20ac7404b4c,1,2,1,56.60,32b1d8f3789a57f1f752e20ac7404b4ca
54,95442deb81a5d91c97c0df96b431634a,1,2,1,368.98,95442deb81a5d91c97c0df96b431634aa
60,3e0c3cab458e8b3cc8d1d38ecb7e7775,1,1,2,105.53,3e0c3cab458e8b3cc8d1d38ecb7e7775a
...,...,...,...,...,...,...
103783,4198c92e06d92792e49f119f659e723e,1,1,10,1294.26,4198c92e06d92792e49f119f659e723ea
103802,9bdf0443f07f3b2fcff74937bf1df6d2,1,1,3,150.36,9bdf0443f07f3b2fcff74937bf1df6d2a
103816,31b39339d93a6949e2f2addf798d8904,1,1,1,114.49,31b39339d93a6949e2f2addf798d8904a
103828,914ee15dc01a54f3bcb1df425276d627,1,2,1,141.78,914ee15dc01a54f3bcb1df425276d627a
103845,fbf5670723916ebf3bd62b1e33ed3ea6,1,1,5,302.46,fbf5670723916ebf3bd62b1e33ed3ea6a

In [79]:
reviews_delta = reviews[reviews['order_id'].isin(b)]

In [ ]:
reviews_delta['review_creation_date'] = reviews_delta['review_creation_date'] + timedelta(days= 31)
reviews_delta['review_answer_timestamp'] = reviews_delta['review_answer_timestamp'] + timedelta(days= 31)

In [84]:
ordenes_delta['order_id'] = ordenes_delta['order_id'] +'a'

In [91]:
items_delta.drop(columns={'order_id_aux'}, inplace= True)
items_delta['order_id'] = items_delta['order_id'] +'a'

C:\Users\pablo\AppData\Local\Temp\ipykernel_8344\161680214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_delta.drop(columns={'order_id_aux'}, inplace= True)
C:\Users\pablo\AppData\Local\Temp\ipykernel_8344\161680214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_delta['order_id'] = items_delta['order_id'] +'a'

In [93]:
metodo_de_pago_delta.drop(columns={'order_id_aux'}, inplace= True)
metodo_de_pago_delta['order_id'] = metodo_de_pago_delta['order_id'] +'a'

C:\Users\pablo\AppData\Local\Temp\ipykernel_8344\869876952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metodo_de_pago_delta.drop(columns={'order_id_aux'}, inplace= True)
C:\Users\pablo\AppData\Local\Temp\ipykernel_8344\869876952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metodo_de_pago_delta['order_id'] = metodo_de_pago_delta['order_id'] +'a'

In [94]:
ordenes_delta.to_csv('Dataset_delta/order_delta.cvs', index= False)

In [95]:
items_delta.to_csv('Dataset_delta/item_delta.cvs', index= False)
reviews_delta.to_csv('Dataset_delta/review.cvs', index= False)
metodo_de_pago_delta.to_csv('Dataset_delta/payment_delta.cvs', index= False)